@media screen and (max-width: 450px) {
    .pagination-item{
        width: 20px !important;
    }
}


@media screen and (max-width: 800px) {
    .section-info{
        flex-direction: column !important;
    }

    .section-one{
        margin-left: 0 !important;
    }
}




@media screen and (min-width: 1000px) {
    
}