body{
    background-color: #090a0c;
    overflow-x: hidden;
}

iframe[data-glx="yeap"]{
    /* position: relative !important; */
    height: 0% !important;
}

.min-Width{
    min-width: auto;
}

#bgImage{
    background-image: url(../images/dark-s3.jpg);
    background-size: cover;
    width: 100vw;
    z-index: -10;
    filter: brightness(45%);
}

.image-fluid{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.navbar.bg-dark {
    background-color: #050e4d !important;
    width: 100%;
    position: fixed;
    z-index: 10;
    filter: drop-shadow(1px 1px 2px black);
}