@import 'anim';


.sectionText{
    position: absolute;
    top: 40%;
    left: 15%;
    color: #fff;

    h2{
        font-size: 1.6em;
        font-weight: 400;
    }
}
.scroll{
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(../images/scroll-icone.svg);
    background-size: cover;
    top: 90%;
    left: 45%;
    animation-name: scrollAnim;
    -webkit-animation-name: scrollAnim;
    -moz-animation-name: scrollAnim;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 10000;
}

.carouselCard{
    width: 280px;
    height: 320px;
    cursor: pointer;
}

.BrainhubCarousel__arrows{
    position: absolute !important;
    background-color: #7b59ff60 !important;
}
.BrainhubCarousel__arrowLeft{
    left: 0 !important;
    z-index: 1 !important;
}
.BrainhubCarousel__arrowRight{
    right: 0 !important;
    z-index: 1 !important ;
}

.BrainhubCarousel__container{
    margin: 2em auto !important;
}

.section-info{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;

    h1 ,strong{
        color: #fff;
    }
    p{
        color: rgba(255,255,255,0.6);
    }
}