@import 'anim';
@import 'responsive';
@import 'normalize';
@import 'menu';
@import 'footer';


.sectionText{
    position: absolute;
    top: 35%;
    left: 8%;
    color: #fff;
    h1{
        font-size: 2.8em;
        font-weight: 700;
        letter-spacing: -1px;
        margin-bottom: 1rem;
        line-height: 1;
    }
    h2{
        font-size: 1.5em;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 1.645;
    }
}
.scroll{
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(../images/scroll-icone.svg);
    background-size: cover;
    top: 90%;
    left: 45%;
    animation-name: scrollAnim;
    -webkit-animation-name: scrollAnim;
    -moz-animation-name: scrollAnim;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 10000;
}

.carouselCard{
    width: 370px;
    height: 360px;
    cursor: pointer;
    align-self: center;
    filter: drop-shadow(2px 4px 6px black);
}

.section-info{
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1.645;

    h2 ,strong{
        color: #fff;
    }
    p{
        color: rgba(255,255,255,0.6);
    }

    img{
        border-radius: 10px;
        width: 100%;
    }
}

.section-one{
    flex-direction: column;
    padding: 1em;
    font-size: larger;
    max-width: 500px;
    h3{
        color: #fff;
    }
}

.section-two{
    filter: drop-shadow(0px 0px 4px #232529);
    max-width: 350px;
}

.titre-desc{
    color: #fff;
    margin: 2em 0 2em 1em; 
}

.container-card{
    background-color: rgb(12, 14, 19);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #212529 1px solid;
    border-radius: 30px;
    overflow: hidden;
}

.info-card{
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: center;

    h5{
        color: #fff;
        font-size: medium;
    }
    p{
        color: rgba(255,255,255,0.6);
        font-size: small;
    }
}

.bg-hero{
    width: 100%;
    height: 50vh;
    position: relative;
    display: flex;
    overflow: hidden;

    img{
        width: inherit;
        filter: blur(10px) brightness(50%);
    }
}

.section-vid{
    padding: 1em;
}

.section-player{
    display: none;
    padding: 1em;

    &.active{
        display: block;
    }
}
.section-player-up{
    display: block;
    padding: 1em;

    &.active{
        display: none;
    }
}

.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
   
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }

header{
    height: 3em;
}

.navbar{
    padding: 0.2em 1em !important;
}

.nav-item a{
    color: #c0c8ff;
}

.nav-item a:hover{
    color: #0e27d2 !important;
}

label{
    display:none;
}

.icon-search{
    cursor: pointer;
}

.section-search{
    position: fixed;
    color: #fff;
    top: 3.3em;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 123, 255, 0.2);
    
}
.section-search.active{
    display: block;
    transform: translateX(0);
    transition: ease-in-out;
    animation-name: searchAnim;
    -webkit-animation-name: searchAnim;
    -moz-animation-name: searchAnim;
    animation-duration: 0.6s;
    -webkit-animation-duration: 0.6s;
}
.section-search.false{
    display: none;
}

.input-search{
    display: block;
    transform: none;
    border: none;
    border-radius: .1875rem;
    width: 100%;
    font-size: .8125rem;
    font-weight: 400;
    color: #1b1f22;
    padding: .5rem .875rem;
}

.autocomplet-result{
    a { text-decoration: none; }
    background-color: #fff;
    position: absolute;
    z-index: 1000;
    overflow: hidden;
    overflow-y: visible;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    width: 100%;
    top: 3.3em;
    left: 0;
    right: 0;
    max-height: calc(93vh - 5em);
}

.autocomplet-result-item{
    display: block;
    cursor: pointer;
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
    padding: .375rem;
    display: block;
    text-decoration: none;
    color: #000;
    overflow: hidden;
    height: 1%;
    font-size: .9375rem;
    font-weight: 400;
}

.autocomplet-result-thumbnail {
    max-width: 100%;
    height: auto;
    float: left;
    margin-right: .25rem;
    display: block;
    padding: .125rem;
    background: #fff;
    border: 1px solid #f0f0f0;
}

.autocomplet-result-text{
    display: flex;
    flex-direction: column;
}
.autocomplet-result-title{
    font-size: medium !important;
    font-weight: 700 !important;
}

.pagination{
    width: 100%;
    border-top: 1px solid #232529;
    border-bottom: 1px solid #232529;
    padding: 1em;
    .pagination-episodes{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        color: #fff;
        padding: 0;
        max-width: 90vw;
        margin-bottom: 0;
    }
    .pagination-item{
        margin: 1em;
        border-radius: 8px;
        width: 35px;
        height: auto;
        text-align: center;
        cursor: pointer;
        transition: all .3s ease-in-out;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.6), -1px -1px 0px rgba(255,255,255,0.1);


        span{
            font-size: 1.1em;
            font-weight: 400;
        }
        &.pagination-item.active{
            box-shadow: inset 1px 1px 2px rgba(0,0,0,0.6), inset -1px 0px 0px rgba(255,255,255,0.1);
            color: #ffaa0e !important;
        }
    }
}

.page-link:active{
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.option-saison{
    width: 50vw;
    height: auto;
    transform: translateX(50%);

    .option-saison-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style: none;
        color: #fff;
        padding: 0;
        max-width: 100vw;
    }
    .option-saison-item{
        margin-top: 0.5em;
        border-radius: 8px;
        text-align: center;
        cursor: pointer;
        transition: all .3s ease-in-out;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.6), -1px -1px 0px rgba(255,255,255,0.1);
        font-weight: 100;


        &.option-saison-item.active{
            box-shadow: inset 1px 1px 2px rgba(0,0,0,0.6), inset -1px -1px 0px rgba(255,255,255,0.1);
            color: #ffaa0e;
            font-weight: 600;
        }
    }
}

.change-player{
    h3{
        color: #fff;
        text-align: center;
    }
    .change-player-menu{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-evenly;
        color: #fff;
        padding: 2em;

        .change-player-item{
        //border: 1px solid #232529;
        border-radius: 10px;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.6), -1px -1px 0px rgba(255,255,255,0.1);
        padding: 0.5em;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 7px;
        transition: all .3s ease-in-out;

        &.active{
            //border: 2px solid #ffaa0e;
            box-shadow: inset 1px 1px 2px rgba(0,0,0,0.6),inset  -1px -1px 0px rgba(255,255,255,0.1);
        }
    }
    .change-player-item-up{
        //border: 2px solid #ffaa0e;
        border-radius: 10px;
        box-shadow: inset 1px 1px 2px rgba(0,0,0,0.6),inset  -1px -1px 0px rgba(255,255,255,0.1);
        padding: 0.5em;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &.active{
            //border: 1px solid #232529;
            box-shadow: 1px 1px 2px rgba(0,0,0,0.6), -1px -1px 0px rgba(255,255,255,0.1);
        }
    }
}
}
.section-images{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
}

.bg-image{
    width: 100%;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0;

    .bg-item{
        width: 100%;
        height: inherit;
        filter: blur(1px) brightness(65%);
    }
}

.section-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 10%;
    color: #fff;
    
    .title{
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: -1px;
        line-height: 1.1;
    }
    .ligne-orange{
        height: 5px;
        width: 50px;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        background-color: #ffaa0e;
    }
    .category{
        font-size: 1rem;
        font-weight: 300;
        font-style: italic;
        letter-spacing: 1px;
        line-height: 1;
    }
    .annee{
        font-size: 1rem;
        font-weight: 500;
        line-height: 0.8;
        letter-spacing: 2px;
        font-style: italic;
    }
}

.bg-image:nth-child(1){
    animation: carousel1 linear 15s infinite;
    -webkit-animation: carousel1 linear 15s infinite;
}
.bg-image:nth-child(2){
    animation: carousel2 linear 15s infinite;
    -webkit-animation: carousel2 linear 15s infinite;
}
.bg-image:nth-child(3){
    animation: carousel3 linear 15s infinite;
    -webkit-animation: carousel3 linear 15s infinite;
}
.bg-image:nth-child(4){
    animation: carousel4 linear 15s infinite;
    -webkit-animation: carousel4 linear 15s infinite;
}

.section-vilain{
    margin-top: 2em;
    display: block;
    line-height: 1.645;
    padding: 1em;

    .section-vilain-items{
        color: aliceblue;
        line-height: 1.645;
        font-size: larger;

        .item-strong{
            color: #fff;
            font-style: italic;
            text-transform: uppercase;
            font-size: 1.6em;
            line-height: 1.6;
            letter-spacing: -2px;
        }

        h3{
            margin-bottom: 1em;
        }
    }
}

.container-items{
    display: grid;
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-gap: 1em;
    padding: 1em;
    margin-bottom: 1em;

    .container-items-item{
        background-color: #0c0e13;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: #212529 1px solid;
        border-radius: 10px;
        overflow: hidden;
        width: 160px;
        height: 270px;
        cursor: pointer;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.8);

        &.active{
            border: #0e27d2 2px solid;
            transition: searchAnime 1s ease-in-out;
        }

        .container-items-item-img{
            width: 100%;
            height: 60%;
            cursor: pointer;
            align-self: center;
            -webkit-filter: drop-shadow(2px 4px 6px black);
            filter: drop-shadow(2px 4px 6px black);
        }
        .container-items-item-info{
            display: flex;
            flex-direction: column;
            padding: 0.5em;
            text-align: center;

            h5{
                color: #fff;
                font-size: 15px;
            }
            p{
                color: rgba(255, 255, 255, 0.6);
                font-size: 11px;
            }
        }
    }
}

.resume-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin-top: 1em;
}

.adblock-wrapper{
    display: block;
    position: relative;
    width: 100%;
    height: 10px;

    .detect-adblock{
        position: absolute;
        top: 20px;
        bottom: -320px;
        left: 0;
        height: auto;
        width: 100%;
        z-index: 2;
        float: left;
        background: rgba(9, 10, 12, 0.8);

        span{
            align-items: center;
            display: flex;
            padding: 1em;
            justify-content: center;
            transform: translateY(115px);
            color: #f4f4f4;
            font-size: larger;
            font-weight: 600;
        }
    }
}

.react-multiple-carousel__arrow{
    z-index: 2 !important;
}

.section-star{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255,0.6);
    margin-top: 2em;
    margin-bottom: 1em;

    h5{
        color: #fff;
    }

    .star-eval{
        margin-left: 0.3em;
    }

    .star-eval-text{
        color: #ffc107;
        font-size: 1.4rem;
        font-weight: 600;
    }
}

.section-head{
    width: 100%;
    height: 60vh;
    background-image: url(../images/background-tv.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    overflow: hidden;
    filter: blur(2px), brightness(75%);
}

.section-textil{
    width: 100%;
    padding: 1em;
    color: #212529;

    h1{
        color: #fff;
        font-size: 1.8em;
        margin-bottom: 2em;
    }

    h3{
        color: #b3b5bf;
        font-size: 1.4em;
        margin-bottom: 1em;
        margin-top: 2.5em;
    }
    .section-textil-info{
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        font-weight: 400;
        color: #4a4d56;

        span{
            margin-bottom: 1em;
        }
    }

    .textil{
        p{
            font-size: 1.2em;
            font-weight: 400;
            line-height: 1.725;
            color: #4a4d56;
        }

        strong{
            font-size: 1.1em;
            color: #9b9eab;
            margin-bottom: 1em;
            display: block;
            font-weight: 600;
        }
        
        a{
            margin-bottom: 1em;
            display: block;
            font-size: 1.1em;
            font-weight: 500;
        }

        ul{
            list-style: none;
            font-size: 1.1em;
            color: #4a4d56;
            font-weight: 400;

            li{
                margin-bottom: 1em;
                font-style: italic;
            }
        }
    }
}